<!DOCTYPE html>
<html>
  <head>
    <title>NASDAQ Stock Price Checker</title>
    <meta name="description" content="NASDAQ Stock Price Checker - FreeCodeCamp Information Security Project">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <div id="mainContainer">
      <h1> NASDAQ Stock Price Checker </h1>
<!--     <hr style='margin: 50px'> -->
    <div id='testui' style='margin-left: 5%'>
      <h3>Get single price and total likes</h3>
      <form action="/api/stock-prices" method="GET" id="testForm2" class="border">
        <input type="text" name="stock" placeholder="STOCK" style="width: 100px" required=''>
        <input type="checkbox" name="like" value=true> Like<br>
        <button type="submit">Find Price</button>
      </form>
      <h3>Compare and get relative likes</h3>
      <form action="/api/stock-prices" method="GET" id="testForm" class="border">
        <input type="text" name="stock" placeholder="STOCK 1" style="width: 100px" required=''>
        <input type="text" name="stock" placeholder="STOCK 2" style="width: 100px" required=''>
        <input type="checkbox" name="like" value=true> Like Both<br>
        <button type="submit">Find Price</button>
      </form>
<!--       <code id='jsonResult'></code> -->
    </div>
<!--     <hr style='margin: 50px; margin-top: 200px'> -->
    <!-- Your web-app is https, so your scripts need to be too -->
<!--     <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
   </script> -->
  </div>
  </body>
</html>
